.slider {
  margin-top: 75px;
  background: url("../../img/home/map.png") center no-repeat;
  position: relative;
  z-index: 9;
}

.swiper-pagination-bullet-active {
  background-color: #861f41;
}

.swiper {
  &-wrapper {
    height: 100%;
    position: relative;
    z-index: 3;
  }

  &-slide {
    padding: 100px;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    &-content {
      max-width: 450px;

      & h2 {
        text-transform: uppercase;
        font-weight: 700;
        color: #861f41;
        font-size: 33px;
        margin-bottom: 30px;
      }

      & p {
        font-weight: 400;
        color: black;
        font-size: 22px;
      }
    }
  }

  &-pagination {

  }

  &-button-prev {
    &::after {
      color: #861f41;
    }
  }

  &-button-next {
    &::after {
      color: #861f41;
    }

  }

  &-background {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.achievements {
  padding: 40px 0;
  &-wrapper {

  }

  &-items {
    max-height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-item {
      width: 200px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        p {
          color: #861f41;
        }
        svg {
          fill: #861f41;
        }
      }

      & svg {
        transition: 0.3s ease-in-out;
      }

      & p {
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        text-align: center;
        transition: 0.2s ease-in-out;

      }
    }
  }

}